#srch_form{
    width: 300px;
}
@media (min-width: 376px) and (max-width: 767.98px) 
{
    #drop_container{
        width: 90%;
    }
    #dropdown{
        width: 90%;
        text-align: center;
    }
    #srch_form{
        margin: 0;
        width: unset;
        justify-content: center;
    }
    #profile_badge{
        justify-content: center;
    }
    #searchDrop{
        height: 100vh;
    }
}